
<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Business Casual - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/business-casual.min.css" rel="stylesheet">
  <style>
body {
  background-image: url('{%static 'bk2.jpg'%}');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
</style>
</head>

<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block" style="font-family: 'Bebas Neue', cursive;">
    Influencer.lk

  </h1>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Influencer.lk</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{%url 'home'%}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{%url 'people'%}">Find influencers</a>
          </li>
          {%if user.is_authenticated%}
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{%url 'profile_view'%}">Profile</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
          </li>
        <form id="logout" method="POST" action="{%url 'logout'%}">
            {%csrf_token%}
            <input type="hidden"/>
      </form>
          {%else%}
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{%url 'login'%}">Login</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{%url 'signup'%}">Signup</a>
          </li>
          {%endif%}
        </ul>
      </div>
    </div>
  </nav>

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0 mx-auto d-block" src="{%static 'naymar.jpg'%}" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4 text-center">
                <span class="section-heading-upper">We connect your brand</span>
                <span class="section-heading-lower">with influencers.</span>
              </h2>
              <p class="text-center">Influencer marketing has become the revolution of marketing as people tend to trust people over commercial advertisements.</p>
              <p class="mb-0 text-center">We are providing a free platform where influencers can create their portfolios so that the business world can easily reach, search, and find who suits their brands best.
</p><br/>
             <p class="mb-0 text-center">Here you are provided with perfect searching criteria with recommendation systems empowered by Artificial Intelligence which will maximize the ability to find the best influencer for your brand. You can visit portfolios of influencers that are managed and updated by them including there pictures, social media accounts, contact methods, and the areas they are willing to work at.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">&copy; Influencer.lk {%now "Y"%}</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>